rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /subjects/{id} {
      allow read: if true;
      allow write: if false;
    }
    match /topics/{id} {
      allow read: if true;
      allow write: if false;
    }
    match /tests/{id} {
      allow read: if true;
      allow write: if false;
    }
    match /questions/{id} {
      allow read: if true;
      allow write: if false;
    }
  }
}
